::selection {
    background: #ffb3b3;
    color: #000; 
}

body {
    margin: 0;
    background-color: white;
}

.container {
    background-color: #333;
    width: 100%;
    min-height: 100vh;
}

.wrapper {
    background-color: white;
    padding: 5%;
}

.comment h1 {
    text-align: left;
    margin: 0;
}

.comment h2 {
    display: none;
}

.vertical {
    padding: 5% 10%;
    gap: 5%;
    display: flex;
    align-items: center;
}

.introImg {
    margin-left: auto;
}

#main-image {
    display: block;
    width: 100%;
    height: auto;
}

/* lang-select */
.ltb {
    width: 100%;
    display: flex;
    justify-content: center;
}

#language-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 5px 0 13px;
    border: 1px solid black;
    border-radius: 5px;
    width: 80%;
}

.lang-tab {
    position: relative;
    padding: 8px 12px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    overflow: hidden;
}

.lang-tab::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.lang-tab:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.lang-tab.active::before {
    transform: scaleX(1);
    transform-origin: left;
}

.lang-tab.active {
    font-weight: bold;
    color: #3498db;
}

.footer {
    background-color: #333;
    padding: 23% 0%;
    color: white;
}

.footer h1 {
    font-size: 2.4rem;
    text-align: center;
}

.homePages {
    display: grid;
    justify-content: center;
    align-items: center;
}

.homePages ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

.homePages li {
    font-size: 1.6rem;
    list-style-type: none;
    color: white;
    width: 100%;
    margin-bottom: 10px;
}

.homePages li a {
    text-decoration: none;
    color: white;
    display: block;
}

.homePages li a:hover {
    color: coral;
}


/*/ レスポンシブ対応////////////////////////////////////////////////////////////////////////*/

/* タブレット向けのスタイル */
@media screen and (max-width: 830px) {
    body {
        background-color: #DBE6E0;
    }

    .wrapper {
        padding: 5% 0% 15%;
    }

    .comment h1 {
        display: none;
    }

    .comment h2 {
        display: block;
        text-align: left;
        margin-top: 30px;
    }

    .vertical {
        display: block;
        padding-top: 0%;
    }

    .footer {
        padding: 25% 0%;
    }

    .foo-h1 {
        margin-bottom: 5%;
        font-size: 1.8rem;
    }

    .footer h1 {
        font-size: 1.8rem;
    }

    .lang-tab::before {
        background-color: orange;
    }

    .lang-tab {
        font-size: 1.5rem;
    }

    .lang-tab.active {
        color: orange;
    }

    .con-l {
        font-size: 30px;
    }
}

/* スマホサイズ　*/
@media screen and (max-width: 480px) {
    body {
        background-color: aliceblue;
    }

    .footer {
        padding: 15% 0%;
    }

    .foo-h1 {
        margin-bottom: 15%;
    }

    .homePages li {
        font-size: 1.1rem;
        border-bottom: 2px solid;
        margin-bottom: 30px;
    }

    .footer {
        padding: 30% 0;
    }

    .lang-tab {
        font-size: 1rem;
    }
}